[Unit]
Description=BRLN-OS API gRPC - Comando Central
After=network.target lnd.service

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/brln-api
ExecStart=/home/admin/envflask/bin/python3 /home/admin/brln-api/app.py
Restart=always
RestartSec=10
Environment=PYTHONPATH=/home/admin/brln-api

# Segurança
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
