[Unit]
Description=BRLN-OS API gRPC - Comando Central
After=network.target lnd.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/brln-os/api/v1
ExecStartPre=/bin/bash /root/brln-os/scripts/setup-api-env.sh
ExecStart=/root/brln-os-envs/api-v1/bin/python3 /root/brln-os/api/v1/app.py
Restart=always
RestartSec=10
Environment=PYTHONPATH=/root/brln-os/api/v1

# Segurança
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
