[Unit]
Description=Terminal Web com logs do Bitcoind via GoTTY
After=network.target

[Service]
User=root
WorkingDirectory=/home/pagcoin/brln-os
Environment=TERM=xterm
ExecStart=/usr/local/bin/gotty -p 3434 -w bash /home/pagcoin/brln-os/brunel.sh
Restart=always

[Install]
WantedBy=multi-user.target
