[Unit]
Description=Terminal Web com logs do Bitcoind via GoTTY
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin
Environment=TERM=xterm
ExecStart=/usr/local/bin/gotty -p 3434 -w bash /home/admin/brlnfullauto/brunel.sh
Restart=always

[Install]
WantedBy=multi-user.target
