[Unit]
Description=Elements daemon on mainnet
# Requires=bitcoind.service
# After=bitcoind.service

[Service]
ExecStart=/usr/local/bin/elementsd -datadir=/data/elements/
User=admin
Group=admin
Restart=on-failure
TimeoutStartSec=infinity
TimeoutStopSec=600

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target