[Unit]
Description=Terminal Web com logs do Elements via GoTTY
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin
Environment=TERM=xterm
ExecStart=/usr/local/bin/gotty -p 3838 -w journalctl -fu elementsd
Restart=always

[Install]
WantedBy=multi-user.target
