[Unit]
Description=Terminal Web para BRLN FullAuto
After=network.target

[Service]
User=root
WorkingDirectory=/root/brln-os/scripts
Environment=TERM=xterm
ExecStart=/usr/local/bin/gotty -p 3131 -w bash /root/brln-os/scripts/menu.sh
Restart=always

[Install]
WantedBy=multi-user.target
