[Unit]
Description=Aciona o script de swapout (By JVX)
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin
Environment=TERM=xterm
ExecStart=/usr/local/bin/gotty -p 4040 -w "python3 /home/admin/brlnfullauto/local_apps/nr-tools/swap-wallet21.py"
Restart=always

[Install]
WantedBy=multi-user.target