[Unit]
Description=Terminal Web para autenticar BOS Telegram
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin
Environment=TERM=xterm
ExecStart=/usr/local/bin/gotty -p 3939 -w bash -c 'bash <(curl -s https://raw.githubusercontent.com/pagcoinbr/brlnfullauto/teste_v0.9/start-bos-telegram.sh)'
Restart=always

[Install]
WantedBy=multi-user.target
