[Unit]
Description=Edita o lnd.conf
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin
Environment=TERM=xterm
ExecStart=/usr/local/bin/gotty -p 3333 -w nano /data/lnd/lnd.conf
Restart=always

[Install]
WantedBy=multi-user.target