[Unit]
Description=Terminal Web para rodar bos telegram via gotty
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin
ExecStart=/usr/local/bin/gotty -p 3133 -w /bin/bash /home/admin/brlnfullauto/html/scripts/bos-telegram.sh
Restart=always
Environment=TERM=xterm

[Install]
WantedBy=multi-user.target
