[Unit]
Description=Terminal Web com GoTTY
After=network.target

[Service]
ExecStart=/usr/local/bin/gotty -p 3232 -w bash sudo -v
Restart=always
User=admin
WorkingDirectory=/home/admin
Environment=TERM=xterm
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
