[Unit]
Description=Terminal Web para BRLN FullAuto
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin
Environment=TERM=xterm
ExecStart=/usr/local/bin/gotty -p 3131 -w bash /home/admin/brlnfullauto/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
