[Unit]
Description=LNbits
After=network.target

[Service]
WorkingDirectory=/home/admin/lnbits
ExecStart=/home/admin/.local/bin/poetry run --port 5000 --host 0.0.0.0
User=admin
Restart=always
TimeoutSec=120
RestartSec=30
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target