[Unit]
Description=Messager Monitor gRPC - BRLN-OS
After=lnd.service
Requires=lnd.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/brln-os/api/v1
ExecStart=/usr/bin/python3 /root/brln-os/api/v1/messager_monitor_grpc.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

# Variáveis de ambiente
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=BITCOIN_NETWORK=mainnet
Environment=MACAROON_PATH=/data/lnd/data/chain/bitcoin/testnet/admin.macaroon
Environment=TLS_CERT_PATH=/data/lnd/tls.cert

[Install]
WantedBy=multi-user.target