[Unit]
Description=PeerSwap Daemon
After=lnd.service elementsd.service
Requires=lnd.service elementsd.service

[Service]
ExecStart=/usr/local/bin/peerswapd
User=admin
Group=admin
Type=simple
TimeoutSec=120
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
