[Unit]
Description=PeerSwap Web UI
After=lnd.service elementsd.service peerswap.service
Requires=lnd.service

[Service]
ExecStart=/home/admin/go/bin/psweb
User=admin
Group=admin
Type=simple
KillMode=process
TimeoutSec=180
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
