[Unit]
Description=Simple LN Wallet Service
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/brlnfullauto
ExecStart=/home/admin/brlnfullauto/simple-lnwallet
Restart=on-failure
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target

