{
  "Host": "0.0.0.0",
  "Port": "1984",
  "LndHost": "lnd:10009",
  "TlsCertPath": "/home/lnd/.lnd/tls.cert",
  "MacaroonPath": "/home/lnd/.lnd/data/chain/bitcoin/mainnet/admin.macaroon",
  "PeerSwapHost": "peerswap:42069",
  "ElementsHost": "elements:18884",
  "ElementsUser": "elementsuser",
  "ElementsPassword": "elementspassword123",
  "LogLevel": "info"
}
