# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore
.env

# Documentação
README.md

# Arquivos temporários
*.log
*.tmp
.DS_Store
Thumbs.db

# Node modules (se houver)
node_modules
npm-debug.log

# IDE
.vscode
.idea
*.swp
*.swo
