spinner() {
    local pid=${1:-$!}
    local delay=0.2
    local max=${SPINNER_MAX:-20}
    local count=0
    local spinstr='|/-\\'
    local j=0

    tput civis

    # Monitorar processo
    while kill -0 "$pid" 2>/dev/null; do
        local emoji=""
        for ((i=0; i<=count; i++)); do
            emoji+="⚡"
        done

        local spin_char="${spinstr:j:1}"
        j=$(( (j + 1) % 4 ))
        count=$(( (count + 1) % (max + 1) ))

        printf "\r\033[KAguarde...${YELLOW}%s${NC} ${CYAN}[%s]${NC}" "$emoji" "$spin_char"
        sleep "$delay"
    done

    wait "$pid" 2>/dev/null
    exit_code=$?

    tput cnorm
    if [[ $exit_code -eq 0 ]]; then
        printf "\r\033[K${GREEN}✔️ Processo finalizado com sucesso!${NC}\n"
    else
        printf "\r\033[K${RED}❌ Processo finalizado com erro - código: $exit_code${NC}\n"
    fi

    return $exit_code
}

basics() {
    [ "$EUID" -ne 0 ] && exec sudo bash "$0" "$@"
    # Manter a sessão sudo ativa durante a execução do script
    while true; do sudo -n true; sleep 60; kill -0 "$$" || exit; done 2>/dev/null &

    # Cores
    RED='\033[0;31m'
    GREEN='\033[0;32m'
    YELLOW='\033[1;33m'
    BLUE='\033[1;34m'
    MAGENTA='\033[1;35m'
    CYAN='\033[1;36m'
    NC='\033[0m' # Sem cor

    # Banner ASCII Art
    BRLN_OS_ASCII='
    ██████╗ ██████╗ ██╗     ███╗   ██╗     ██████╗ ███████╗
    ██╔══██╗██╔══██╗██║     ████╗  ██║    ██╔═══██╗██╔════╝
    ██████╔╝██████╔╝██║     ██╔██╗ ██║    ██║   ██║███████╗
    ██╔══██╗██╔══██╗██║     ██║╚██╗██║    ██║   ██║╚════██║
    ██████╔╝██║  ██║███████╗██║ ╚████║    ╚██████╔╝███████║
    ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═══╝     ╚═════╝ ╚══════╝
    '
    BRLN_ASCII_FULL='
    ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███╗   ██╗██╗███╗   ██╗ ██████╗     ███╗   ██╗ ██████╗ ██████╗ ███████╗
    ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝████╗  ██║██║████╗  ██║██╔════╝     ████╗  ██║██╔═══██╗██╔══██╗██╔════╝
    ██║     ██║██║  ███╗███████║   ██║   ██╔██╗ ██║██║██╔██╗ ██║██║  ███╗    ██╔██╗ ██║██║   ██║██║  ██║█████╗  
    ██║     ██║██║   ██║██╔══██║   ██║   ██║╚██╗██║██║██║╚██╗██║██║   ██║    ██║╚██╗██║██║   ██║██║  ██║██╔══╝  
    ███████╗██║╚██████╔╝██║  ██║   ██║   ██║ ╚████║██║██║ ╚████║╚██████╔╝    ██║ ╚████║╚██████╔╝██████╔╝███████╗
    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═══╝╚═╝╚═╝  ╚═══╝ ╚═════╝     ╚═╝  ╚═══╝ ╚═════╝ ╚═════╝ ╚══════╝ 

                                                                                                                    
        🚀 BRLN - OS - Bitcoin, Lightning & Liquid - Stack'

    # Funções de logging
    clear
    log() { echo -e "${GREEN}[$(date '+%H:%M:%S')] $1${NC}"; }
    error() { echo -e "${RED}[ERROR] $1${NC}"; }
    warning() { echo -e "${YELLOW}[WARNING] $1${NC}"; }
    info() { echo -e "${BLUE}[INFO] $1${NC}"; }
}

basics